body
{
  font-family: Arial, Helvetica, sans-serif;
}

#main-heading{
  text-align: center;
}


.grid-container{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 12px;
  row-gap: 12px;
  margin-top: 10px;
  align-items: center;
}

#todo-input, #todo-date{
  font-size: 15px;
  padding: 10px 5px;
}

.btn-dlt{
  background-color: rgb(126, 33, 33);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 0px;
  cursor: pointer;
}

.btn-todo{
  background-color: rgb(33, 102, 77);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 0px;
  cursor: pointer;
}